{% extends "website/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid px-4 mt-4">
    
    <h4><strong>Disaster and crisis management</strong></h4>
    <p>We strive  to ensure that a well-functioning, relevant global disaster management system is in place to address the needs of vulnerable people affected by disasters and crises, by working as part of an effective global disaster management team to:

    Provide leadership for the development of global disaster and crises management policies and programming approaches, with a focus on disseminating the Principles and Rules for RCRC Humanitarian Assistance, supporting the process of strengthening Movement coordination and cooperation.
    
    Promote IFRC-wide tools and capacities for disaster and crises in the areas of response preparedness and contingency planning, disaster needs assessment, relief to recovery planning, the scaled-up use of cash in emergencies and global surge capacity systems.
    
    Improve the timeliness and quality of Emergency Appeal and DREF-supported operations through Emergency Plans of Action and support to resource mobilisation efforts.</p>

    <h4><strong>Our Vision</strong></h4>
    
    <p>"To build a safer and disaster resilient India by a holistic, pro-active, technology driven and sustainable development strategy that involves all stakeholders and fosters a culture of prevention, preparedness and mitigation."</p>
    
    <h4><strong>Measuring impact</strong></h4>
    
    <p>Our added value and impact is measured through:
    
        Feedback from National Societies and Federation Secretariat colleagues on the usefulness of global policies, technical assistance, global representation, information systems, tools and guidance developed through DCM.
        
        Evaluations of major operations that assess the effectiveness and impact of our leadership and management support.
        
        The successful deployment of global tools and staff, and their effectiveness and appropriateness for each operational context.
        
        Quality and timeliness of Disaster Relief Emergency Fund (DREF) proposals and Emergency Appeals (EA).
    </p>

    <h4><strong>Our team</strong></h4>
    <ul>
        <li>Faustina Lazarus</li>
        <li>Yash Mahajan</li>
        <li>Deep Mehta</li>
        <li>Parth Narvekar</li>
    </ul>

</div>
{% endblock content %}