{% extends "website/base.html" %}
{% load static %}
{% block content %}
<section class="item content">

    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems"></h1>
            </div>

            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-200">
                <div class="productbox">

                    <div class="clearfix">
                    </div>
                    <br />
                    <div class="product-details text-left">
                        <p><strong>Biological Disasters</strong></p>
                        <div class="text-align">

                            <p p style="text-align:justify">
                                Biological disasters are causative of process or phenomenon of organic origin or
                                conveyed by biological vectors, including exposure to pathogenic micro-organisms,
                                toxins and bioactive substances that may cause loss of life, injury, illness or
                                other health impacts, property damage, loss of livelihoods and services, social and
                                economic disruption, or environmental damage. Examples of biological disasters
                                include outbreaks of epidemic diseases, plant or animal contagion, insect or other
                                animal plagues and infestation. Biological disasters may be in the form of:-

                            </p>
                        </div>
                        <p> <strong>Epidemic</strong> affecting a disproportionately large number of individuals
                            within a population,
                            community, or region at the same time, examples being Cholera, Plague, Japanese
                            Encephalitis (JE)/Acute Encephalitis Syndrome (AES); or,
                        </p>
                        <p> <strong>Pandemic</strong> is an epidemic that spreads across a large region, that is, a
                            continent, or even
                            worldwide of existing, emerging or reemerging diseases and pestilences, example being
                            Influenza H1N1 (Swine Flu).
                        </p>

                        <p>Any radiation incident resulting in or having a potential to result in exposure and/or
                            contamination of the workers or the public in excess of the respective permissible
                            limits can lead to a nuclear/radiological emergency.
                        </p>

                        <p><strong>Emergency Kit</strong></p>
                        <ul>
                            <li>Oral Rehydration Solution (ORS) sachets.
                            </li>
                            <li>Tablet Paracetamol.
                            </li>
                            <li>Tablet Anti-diarrhoea.
                            </li>
                            <li>Tablet Anti-spasmodic.
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}