{% extends "website/base.html" %}
{% load static %}
{% block content %}
<section class="item content">

    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems"></h1>
            </div>

            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-200">
                <div class="productbox">

                    <div class="clearfix">
                    </div>
                    <br />
                    <div class="product-details text-left">
                        <p><strong>Chemical Disasters</strong></p>
                        <div class="text-align">

                            <p p style="text-align:justify">
                                Chemical, being at the core of modern industrial systems, has attained a very
                                serious concern for disaster management within government, private sector and
                                community at large. Chemical disasters may be traumatic in their impacts on human
                                beings and have resulted in the casualties and also damages nature and property. The
                                elements which are at highest risks due to chemical disaster primarily include the
                                industrial plant, its employees & workers, hazardous chemicals vehicles, the
                                residents of nearby settlements, adjacent buildings, occupants and surrounding
                                community. Chemical disasters may arise in number of ways, such as:-

                            </p>
                        </div>

                        <ul>
                            <li>Process and safety systems failures
                            </li>
                            <ul>
                                <li>Human errors</li>
                                <li>Technical errors</li>
                                <li>Management errors</li>

                            </ul>
                        </ul>

                        <ul>
                            <li>Induced effect of natural calamities</li>
                            <li>Accidents during the transportation</li>
                            <li>Hazardous waste processing/ disposal</li>
                            <li>Terrorist attack/ unrest leading to sabotage</li>

                        </ul>
                        <p><strong>Status of Chemical Disaster Risk in India</strong></p>

                        <p>India has witnessed the world’s worst chemical (industrial) disaster “Bhopal Gas Tragedy”
                            in the year 1984. The Bhopal Gas tragedy was most devastating chemical accident in
                            history, where over thousands of people died due to accidental release of toxic gas
                            Methyl Iso Cyanate (MIC).</p>
                        <br>
                        <p>Such accidents are significant in terms of injuries, pain, suffering, loss of lives,
                            damage to property and environment. India continued to witness a series of chemical
                            accidents even after Bhopal had demonstrated the vulnerability of the country. Only in
                            last decade, 130 significant chemical accidents reported in India, which resulted into
                            259 deaths and 563 number of major injured.</p>
                        <p>
                            There are about 1861 Major Accident Hazard (MAH) units, spread across 301 districts and
                            25 states & 3 Union Territories, in all zones of country. Besides, there are thousands
                            of registered and hazardous factories (below MAH criteria) and un-organized sectors
                            dealing with numerous range of hazardous material posing serious and complex levels of
                            disaster risks.
                        </p>





                        <p><strong>Safety initiatives taken in India to address chemical risk</strong>
                        </p>

                        <p>The comprehensive legal/ institutional framework exists in our country. A number of
                            regulations covering the safety in transportation, liability, insurance and
                            compensations have been enacted.
                        </p>

                        <p>
                            Following are the relevant provisions on chemical disaster management, prevailing in
                            country:-
                        </p>

                        <ul>
                            <li>Explosives Act 1884</li>
                            <li>Factories Act 1948 </li>
                            <li>Environment Protection Act 1986</li>
                            <li>Public Liability Insurance Act 1991 </li>
                            <li>Petroleum Act 1934 (packed and sealed)</li>
                            <li>Insecticides Act 1968</li>
                            <li>Motor Vehicles Act 1988</li>
                            <li>Disaster Management Act 2005</li>

                        </ul>
                        <p>Government of India has further reinforced the legal framework on chemical safety and
                            management of chemical accidents by enacting new rules such as MSIHC Rules, EPPR Rules,
                            SMPV Rules, CMV Rules, Gas Cylinder Rules, Hazardous Waste Rules, Dock Workers Rules and
                            by way of amendments to them.
                        </p>

                        <p>
                            The National Disaster Management Authority (NDMA) of India had come out with very
                            specific guidelines on Chemical Disaster Management. The guidelines have been prepared
                            to provide the directions to ministries, departments and state authorities for the
                            preparation of their detailed disaster management plans. These guidelines call for a
                            proactive, participatory, multi-disciplinary and multi-sectoral approach at various
                            levels for chemical disaster preparedness and response. Further, NDMA has provided
                            specific inputs to the GOM for avoidance of future chemical disasters in the country,
                            along with suggested amendments on the existing framework. NDMA is also working on
                            revamping of CIFs ( Chief Inspectorate of Factories) to strengthen chemical safety in
                            India. In addition, the National Action Plan on Chemical Industrial Disaster Management
                            (NAP-CIDM), has been finalized which will act as the roadmap for chemical disaster
                            management in India.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}