{% extends "website/base.html" %}
{% load static %}
{% block content %}
<section class="item content">

    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems"></h1>
            </div>

            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-200">
                <div class="productbox">

                    <div class="clearfix">
                    </div>
                    <br />
                    <div class="product-details text-left">
                        <p><strong>Cyclone</strong></p>
                        <div class="text-align">

                            <p p style="text-align:justify">
                                Cyclones are caused by atmospheric disturbances around a low-pressure area
                                distinguished
                                by swift and often destructive air circulation. Cyclones are usually accompanied by
                                violent storms and bad weather. The air circulates inward in an anticlockwise
                                direction
                                in the Northern hemisphere and clockwise in the Southern hemisphere. Cyclones are
                                classified as: (i) extra tropical cyclones (also called temperate cyclones); and
                                (ii)
                                tropical cyclones. The word Cyclone is derived from the Greek word Cyclos meaning
                                the
                                coils of a snake. It was coined by Henry Peddington because the tropical storms in
                                the
                                Bay of Bengal and the Arabian Sea appear like coiled serpents of the sea.

                            </p>
                        </div>
                        <p>
                            <strong>Classification</strong>
                        </p>
                        <p>Cyclones are classified as extra tropical cyclones (also called temperate cyclones); and
                            tropical cyclones.</p>
                        <br>
                        <p>The World Meteorological Organisation (WMO, 1976) uses the term 'Tropical Cyclone’ to
                            cover weather systems in which winds exceed ‘Gale Force’ (minimum of 34 knots or 63
                            kph). Tropical cyclones are the progeny of ocean and atmosphere, powered by the heat
                            from the sea; and driven by easterly trades and temperate westerlies, high planetary
                            winds and their own fierce energy.</p>
                        <p>In India, cyclones are classified by:</p>
                        <ul>
                            <li>"Strength of associated winds"</li>
                            <li>"Storm surges"</li>
                            <li>"Exceptional rainfall occurrences."</li>
                        </ul>
                        <p><strong>Extra tropical cyclones</strong> occur in temperate zones and high latitude
                            regions, though they are known to originate in the Polar Regions.</p>
                        <p>Cyclones that developin the regions between the Tropics of Capricorn and Cancer are
                            called tropical cyclones. Tropical cyclones are large-scale weather systems developing
                            over tropical or subtropical waters, where they get organized into surface wind
                            circulation.</p>
                        <p><strong>Worldwide terminology</strong></p>
                        <p>Cyclones are given many names in different regions
                            of the world – They are known as typhoons in the China Sea and Pacific Ocean; hurricanes
                            in the West Indian islands in the Caribbean Sea and Atlantic Ocean; tornados in the
                            Guinea lands of West Africa and southern USA.; willy-willies in north-western Australia
                            and tropical cyclones in the Indian Ocean.
                        </p>
                        <p><strong>Indian Meteorological Department
                            </strong>
                            <br>
                            <br>
                            The criteria below has been formulated by the Indian Meteorological Department (IMD),
                            which
                            classifies the low pressure systems in the Bay of Bengal and the Arabian Sea on the
                            basis of
                            capacity to damage, which is adopted by the WMO.
                        </p>

                        <div class="scroll-table">
                            <table border="1" cellpadding="1" cellspacing="1">
                                <thead>
                                    <tr>
                                        <th scope="col">Type of Disturbances</th>
                                        <th scope="col">Wind Speed in Km/h</th>
                                        <th scope="col">Wind Speed in Knots</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Low Pressure</td>
                                        <td>Less than 31</td>
                                        <td>Less than 17</td>
                                    </tr>
                                    <tr>
                                        <td>Depression</td>
                                        <td>31-49</td>
                                        <td>17-27</td>
                                    </tr>
                                    <tr>
                                        <td>Deep Depression</td>
                                        <td>49-61</td>
                                        <td>27-33</td>
                                    </tr>
                                    <tr>
                                        <td>Cyclonic Storm</td>
                                        <td>61-88</td>
                                        <td>33-47</td>
                                    </tr>
                                    <tr>
                                        <td>Severe Cyclonic Storm</td>
                                        <td>88-117</td>
                                        <td>47-63</td>
                                    </tr>
                                    <tr>
                                        <td>Super Cyclone</td>
                                        <td>More than 221</td>
                                        <td>More than 120</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <p><strong>1 knot - 1.85 km per hour</strong>
                            <br>
                            Cyclones are classified into five different levels on the basis of wind speed. They are
                            further divided into the following categories according to their capacity to cause
                            damage:-
                        </p>
                        <div class="scroll-table">
                            <table border="1" cellpadding="1" cellspacing="1">
                                <tbody>
                                    <tr>
                                        <td>Cyclone Category</td>
                                        <td>Wind Speed in Km/h</td>
                                        <td>Damage Capacity</td>
                                    </tr>
                                    <tr>
                                        <td>01</td>
                                        <td>120-150</td>
                                        <td>Minimal</td>
                                    </tr>
                                    <tr>
                                        <td>02</td>
                                        <td>150-180</td>
                                        <td>Moderate</td>
                                    </tr>
                                    <tr>
                                        <td>03</td>
                                        <td>180-210</td>
                                        <td>Extensive</td>
                                    </tr>
                                    <tr>
                                        <td>04</td>
                                        <td>210-250</td>
                                        <td>Extreme</td>
                                    </tr>
                                    <tr>
                                        <td>05</td>
                                        <td>250 and above</td>
                                        <td>Catastrophic</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <p>Storm surges (tidal waves) are defined as the rise in sea level above the normally
                            predicted astronomical tide. Major factors include:
                        </p>
                        <ul>
                            <li>A fall in the atmospheric pressure over the sea surface</li>
                            <li>Effect of the wind</li>
                            <li>Influence of the sea bed</li>
                            <li>A funnelling effect</li>
                            <li>The angle and speed at which the storm approaches the coast</li>
                            <li>The tides</li>
                        </ul>
                        <p>The very high specific humidity condenses into exceptionally large raindrops and giant
                            cumulus clouds, resulting in high precipitation rates. When a cyclone makes landfall,
                            rain rapidly saturates the catchment areas and the rapid runoff may extensively flood
                            the usual water sources or create new ones.
                        </p>
                        <p><br><strong>How Cyclones are formed</strong>
                        </p>
                        <p><strong>The development cycle of tropical cyclones</strong> may be divided into three
                            stages:
                        </p>
                        <p><strong>Formation and Initial Development Stage</strong><br>
                            The formation and initial development of a cyclonic storm depends upon various
                            conditions. These are:
                        </p>
                        <ul>
                            <li>A warm sea (a temperature in excess of 26 degrees Celsius to a depth of 60 m) with
                                abundant and turbulent transfer of water vapour to the overlying atmosphere by
                                evaporation.</li>
                            <li>Atmospheric instability encouraging formation of massive vertical cumulus clouds due
                                to convection with condensation of rising air above ocean surface.</li>
                        </ul>
                        <p><strong>Mature Tropical Cyclones</strong><br>
                            When a tropical storm intensifies, the air rises in vigorous thunderstorms and tends to
                            spread out horizontally at the tropopause level. Once air spreads out, a positive
                            perturbation pressure at high levels is produced, which accelerates the downward motion
                            of air due to convection. With the inducement of subsidence, air warms up by compression
                            and a warm ‘Eye’ is generated. Generally, the ‘Eye’ of the storms has three basic
                            shapes: <em>(i)</em> circular; <em>(ii) </em>concentric; and <em>(iii) </em>elliptical.
                            The main physical feature of a mature tropical cyclone in the Indian Ocean is a
                            concentric pattern of highly turbulent giant cumulus thundercloud
                            bands.<br><br><strong>Modification and Decay</strong><br>
                            A tropical cyclone begins to weaken in terms of its central low pressure, internal
                            warmth and extremely high speeds, as soon as its source of warm moist air begins to ebb,
                            or is abruptly cut off. This happens after its landfall or when it passes over cold
                            waters. The weakening of a cyclone does not mean that the danger to life and property is
                            over.
                        </p>
                        <p><strong>Indian Context </strong><br><br>
                            The Indian subcontinent is one of the worst affected regions in the world. The
                            subcontinent with a long coastline of 8041 kilometres is exposed to nearly 10 per cent
                            of the world’s tropical cyclones. Of these, the majority of them have their initial
                            genesis over the Bay of Bengal and strike the East coast of India. On an average, five
                            to six tropical cyclones form every year, of which two or three could be severe. More
                            cyclones occur in the Bay of Bengal than the Arabian Sea and the ratio is approximately
                            4:1. Cyclones occur frequently on both the coasts (the West coast - Arabian Sea; and the
                            East coast - Bay of Bengal). An analysis of the frequency of cyclones on the East and
                            West coasts of India between 1891 and 1990 shows that nearly 262 cyclones occurred (92
                            of these severe) in a 50 km wide strip above the East coast. Less severe cyclonic
                            activity has been noticed on the West coast, where 33 cyclones occurred the same period,
                            out of which 19 of were severe.
                            <br>
                            <br>
                            Tropical cyclones occur in the months of May-June and October-November. Cyclones of
                            severe intensity and frequency in the North Indian Ocean are bi-modal in character, with
                            their primary peak in November and secondary peak in May. The disaster potential is
                            particularly high during landfall in the North Indian Ocean (Bay of Bengal and the
                            Arabian Sea) due to the accompanying destructive wind, storm surges and torrential
                            rainfall. Of these, storm surges cause the most damage as sea water inundates low lying
                            areas of coastal regions and causes heavy floods, erodes beaches and embankments,
                            destroys vegetation and reduces soil fertility.
                            <br>
                            <br>
                            Cyclones vary in diameter from 50 to 320 km but their effects dominate thousands of
                            square kilometers of ocean surface and the lower atmosphere. The perimeter may measure
                            1,000 km but the powerhouse is located within the 100-km radius. Nearer the Eye, winds
                            may hit at a speed of 320 km. Thus, tropical cyclones, characterized by destructive
                            winds, torrential rainfall and storm surges disrupt normal life with the
                            &nbsp;accompanying phenomena of floods due to the exceptional level of rainfall and
                            storm surge inundation into inland areas. Cyclones are characterized by their
                            devastating potential to damage structures, viz. houses; lifeline infrastructure-power
                            and communication towers; hospitals; food storage facilities; roads, bridges and
                            culverts; cropss etc. The most fatalities come from storm surges and the torrential rain
                            flooding the lowland areas of coastal territories.
                        </p>
                        <img alt="" src="{% static 'images/cyclone.png' %}">
                        <h2><strong>Recover and build</strong></h2>
                        <p><strong>After ‘All Clear’ is issued for back movement by ‘State’ give attention to the
                                following:</strong>
                        </p>
                        <ul>
                            <li>Whether ‘roads’ for reaching home is recommended by authorities</li>
                            <li>Whether power lines are safe</li>
                            <li>Whether transport arrangement is approved by authorities</li>
                            <li>Pure drinking water is available</li>
                            <li>Sewage lines are working</li>
                            <li>Any epidemic spread in the area</li>
                            <li>Safety of neighbor(s) assured</li>
                        </ul>
                        <ul>
                            <li>Battery operated torch</li>
                            <li>Extra batteries</li>
                            <li>Battery operated radio</li>
                            <li>First aid kit and essential medicines</li>
                            <li>Important papers (Ration card, Voter ID card, Aadhar card etc)</li>
                            <li>Emergency food (dry items) and water (packed and sealed)</li>
                            <li>Candles and matches in a waterproof container</li>
                            <li>Knife</li>
                            <li>Chlorine tablets or powdered water purifiers</li>
                            <li>Cash, Aadhar Card and Ration Card</li>
                            <li>Thick ropes and cords</li>
                            <li>Shoes</li>
                        </ul>




                        <!--<img src="images/product2-2.jpg" alt=""> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}