{% extends "website/base.html" %}
{% load static %}
{% block content %}
<section class="item content">

    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems"></h1>
            </div>

            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-200">
                <div class="productbox">

                    <div class="clearfix">
                    </div>
                    <br />
                    <div class="product-details text-left">
                        <p><strong>Earthquakes</strong></p>
                        <div class="text-align">

                            <p p style="text-align:justify">
                                An earthquake is a phenomenon that occurs without warning and involves violent
                                shaking of the ground and everything over it. It results from the release of
                                accumulated stress of the moving lithospheric or crustal plates. The earth's crust
                                is divided into seven major plates, that are about 50 miles thick, which move slowly
                                and continuously over the earth's interior and several minor plates. Earthquakes are
                                tectonic in origin; that is the moving plates are responsible for the occurrence of
                                violent shakes. The occurrence of an earthquake in a populated area may cause
                                numerous casualties and injuries as well as extensive damage to property.

                            </p>
                        </div>
                        <p><strong>The Earthquake Risk in India</strong></p>

                        <p>At one time regions of the country away from the Himalayas and other inter-plate
                            boundaries were considered to be relatively safe from damaging earthquakes. However, in
                            the recent past, even these areas have experienced devastating earthquakes, albeit of
                            lower magnitude than the Himalayan earthquakes. The Koyna earthquake in 1967 led to
                            revision of the seismic zoning map, resulting in deletion of the non-seismic zone from
                            the map. The areas surrounding Koyna were also re-designated to Seismic Zone IV,
                            indicating high hazard. The occurrence of the Killari earthquake in 1993 resulted in
                            further revision of the seismic zoning map in which the low hazard zone or Seismic Zone
                            I was merged with Seismic Zone II, and some parts of Deccan and Peninsular India were
                            brought under Seismic Zone III consisting of areas designated as moderate hazard zone
                            areas. Recent research suggests that as understanding of the seismic hazard of these
                            regions increases, more areas assigned as low hazard may be re-designated to higher
                            level of seismic hazard, or vice-versa.</p>
                        <br>
                        <p>The North-Eastern part of the country continues to experience moderate to large
                            earthquakes at frequent intervals including the two great earthquakes mentioned above.
                            Since 1950, the region has experienced several moderate earthquakes. On an average, the
                            region experiences an earthquake with a magnitude greater than 6.0 every year. The
                            Andaman and Nicobar Islands are also situated on an inter-plate boundary and frequently
                            experience damaging earthquakes.</p>

                        <p>The increase in earthquake risk is due to a spurt in developmental activities driven by
                            urbanization, economic development and the globalization of India’s economy. The
                            increase in use of high-technology equipment and tools in manufacturing and service
                            industries has also made them susceptible to disruption due to relatively moderate
                            ground shaking. As a result, loss of human life is not the only determinant of
                            earthquake risk any more. Severe economic losses leading to the collapse of the local or
                            regional economy after an earthquake may have long-term adverse consequences for the
                            entire country. This effect would be further magnified if an earthquake affects a
                            mega-city, such as Delhi or Mumbai.</p>

                        <img alt="" src="{% static 'images/earthquake.png' %}">

                        <p><strong>What to Do After an Earthquake</strong>
                        </p>
                        <ul>
                            <li>Keep calm, switch on the radio/TV and obey any instructions you hear on it.</li>
                            <li>Keep away from beaches and low banks of rivers. Huge waves may sweep in.</li>
                            <li>Be prepared to expect aftershocks.</li>
                            <li>Turn off the water, gas and electricity.</li>
                            <li>Do not smoke and do not light matches or use a cigarette lighter. Do not turn on
                                switches. There may be gas leaks or short-circuits. Use a torch.
                            </li>
                            <li>If there is a fire, try to put it out. If you cannot, call the fire brigade.</li>
                            <li>If people are seriously injured, do not move them unless they are in danger.
                            </li>
                            <li>Immediately clean up any inflammable products that may have spilled (alcohol, paint,
                                etc).</li>
                            <li>If you know that people have been buried, tell the rescue teams. Do not rush and do
                                not worsen the situation of injured persons or your own situation.</li>
                            <li>Avoid places where there are loose electric wires and do not touch any metal object
                                in contact with them.</li>
                            <li>Do not drink water from open containers without having examined it and filtered it
                                through a sieve, a filter or an ordinary clean cloth.</li>
                            <li>If your home is badly damaged, you will have to leave it. Collect water containers,
                                food, and ordinary and special medicines (for persons with heart complaints,
                                diabetes, etc.)</li>
                            <li>Do not re-enter badly damaged buildings and do not go near damaged structures.</li>
                        </ul>

                        <p><strong>Emergency Kit</strong>
                        </p>
                        <ul>
                            <li>Battery operated torch</li>
                            <li>Extra batteries</li>
                            <li>Battery operated radio</li>
                            <li>First aid kit and essential medicines</li>
                            <li>Emergency food (dry items) and water (packed and sealed)
                            </li>
                            <li>Candles and matches in a waterproof container</li>
                            <li>Knife
                            </li>
                            <li>Chlorine tablets or powdered water </li>
                            <li>Important documents (Ration card, Voter ID card, Aadhar Card etc.)</li>
                            <li>Cash, Aadhar Card and Ration Card</li>
                            <li>Thick ropes and cords</li>
                            <li>Shoes</li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}