{% extends "website/base.html" %}
{% load static %}
{% block content %}
<section class="item content">

    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems"></h1>
            </div>

            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-200">
                <div class="productbox">

                    <div class="clearfix">
                    </div>
                    <br />
                    <div class="product-details text-left">
                        <p><strong>Floods</strong></p>
                        <div class="text-align">

                            <p p style="text-align:justify">
                                India is highly vulnerable to floods. Out of the total geographical area of 329
                                million hectares (mha), more than 40 mha is flood prone. Floods are a recurrent
                                phenomenon, which cause huge loss of lives and damage to livelihood systems,
                                property, infrastructure and public utilities. It is a cause for concern that flood
                                related damages show an increasing trend. The average annual flood damage in the
                                last 10 years period from 1996 to 2005 was Rs. 4745 crore as compared to Rs. 1805
                                crore, the corresponding average for the previous 53 years. This can be attributed
                                to many reasons including a steep increase in population, rapid urbanization growing
                                developmental and economic activities in flood plains coupled with global warming.

                            </p>
                        </div>

                        <p>An average every year, 75 lakh hectares of land is affected, 1600 lives are lost and the
                            damage caused to crops, houses and public utilities is Rs.1805 crores due to floods. The
                            maximum number of lives (11,316) was lost in the year 1977. The frequency of major
                            floods is more than once in five years.</p>
                        <br>
                        <p>Floods have also occurred in areas, which were earlier not considered flood prone. An
                            effort has been made in these Guidelines to cover the entire gamut of Flood Management.
                            Eighty per cent of the precipitation takes place in the monsoon months from June to
                            September. The rivers a bring heavy sediment load from catchments. These, coupled with
                            inadequate carrying capacity of rivers are responsible for causing floods, drainage
                            congestion and erosion of river-banks. Cyclones, cyclonic circulations and cloud bursts
                            cause flash floods and lead to huge losses. It is a fact that some of the rivers causing
                            damage in India originate in neighboring countries; adding another complex dimension to
                            the problem. Continuing and large-scale loss of lives and damage to public and private
                            property due to floods indicate that we are still to develop an effective response to
                            floods. NDMA's Executive Summary Guidelines have been prepared to enable the various
                            implementing and stakeholder agencies to effectively address the critical areas for
                            minimising flood damage.</p>

                        <img alt="" src="{% static 'images/floods.png' %}">

                        <p><strong>Emergency Kit</strong>
                        </p>
                        <ul>
                            <li>Battery operated torch</li>
                            <li>Extra batteries</li>
                            <li>Battery operated radio</li>
                            <li>First aid kit and essential medicines</li>
                            <li>Emergency food (dry items) and water (packed and sealed)
                            </li>
                            <li>Candles and matches in a waterproof container</li>
                            <li>Knife
                            </li>
                            <li>Chlorine tablets or powdered water </li>
                            <li>Important documents (Ration card, Voter ID card, Aadhar Card etc.)</li>
                            <li>Cash, Aadhar Card and Ration Card</li>
                            <li>Thick ropes and cords</li>
                            <li>Shoes</li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}