{% extends "website/base.html" %}
{% load static %}
{% block content %}
<section class="item content">

    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems"></h1>
            </div>

            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-200">
                <div class="productbox">

                    <div class="clearfix">
                    </div>
                    <br />
                    <div class="product-details text-left">
                        <p><strong>Heat Wave</strong></p>
                        <div class="text-align">

                            <p p style="text-align:justify">
                                A Heat Wave is a period of abnormally high temperatures, more than the normal
                                maximum temperature that occurs during the summer season in the North-Western parts
                                of India. Heat Waves typically occur between March and June, and in some rare cases
                                even extend till July. The extreme temperatures and resultant atmospheric conditions
                                adversely affect people living in these regions as they cause physiological stress,
                                sometimes resulting in death.

                            </p>
                        </div>
                        <p>
                            The Indian Meteorological Department (IMD) has given the following criteria for Heat
                            Waves :
                        </p>
                        <ul>
                            <li>Heat Wave need not be considered till maximum temperature of a station reaches
                                atleast 40°C for Plains and atleast 30°C for Hilly regions</li>
                            <li>When normal maximum temperature of a station is less than or equal to 40°C Heat Wave
                                Departure from normal is 5°C to 6°C Severe Heat Wave Departure from normal is 7°C or
                                more</li>
                            <li>When normal maximum temperature of a station is more than 40°C Heat Wave Departure
                                from normal is 4°C to 5°C Severe Heat Wave Departure from normal is 6°C or more</li>
                            <li>When actual maximum temperature remains 45°C or more irrespective of normal maximum
                                temperature, heat waves should be declared. Higher daily peak temperatures and
                                longer, more intense heat waves are becomingly increasingly frequent globally due to
                                climate change. India too is feeling the impact of climate change in terms of
                                increased instances of heat waves which are more intense in nature with each passing
                                year, and have a devastating impact on human health thereby increasing the number of
                                heat wave casualties.</li>
                        </ul>

                        <p>Higher daily peak temperatures and longer, more intense heat waves are becomingly
                            increasingly frequent globally due to climate change. India too is feeling the impact of
                            climate change in terms of increased instances of heat waves which are more intense in
                            nature with each passing year, and have a devastating impact on human health thereby
                            increasing the number of heat wave casualties.</p>
                        <br>
                        <p><strong>Health Impacts of Heat Waves</strong></p>

                        <p>The health impacts of Heat Waves typically involve dehydration, heat cramps, heat
                            exhaustion and/or heat stroke. The signs and symptoms are as follows:</p>
                        <ul>
                            <li>Heat Cramps: Ederna (swelling) and Syncope (Fainting) generally accompanied by fever
                                below 39°C i.e.102°F.</li>
                            <li>Heat Exhaustion: Fatigue, weakness, dizziness, headache, nausea, vomiting, muscle
                                cramps and sweating.</li>
                            <li>Heat Stoke: Body temperatures of 40°C i.e. 104°F or more along with delirium,
                                seizures or coma. This is a potential fatal condition</li>
                        </ul>


                        <p><strong>Recover and build</strong></p>
                        <p><strong>If you think someone is suffering from the heat::</strong>
                        </p>
                        <ul>
                            <li>Move the person to a cool place under the shade</li>
                            <li>Give water or a rehydrating drink (if the person is still conscious)</li>
                            <li>Fan the person</li>
                            <li>Consult a doctor if symptoms get worse or are long lasting or the person is
                                unconscious</li>
                            <li>Do not give alcohol, caffeine or aerated drink</li>
                            <li>Cool the person by putting a cool wet cloth on his/her face/body</li>
                            <li>Loosen clothes for better ventilation</li>
                        </ul>
                        <p><strong>Emergency Kit</strong></p>

                        <ul>
                            <li>Water bottle</li>
                            <li>Umbrella/ Hat or Cap / Head Cover</li>
                            <li>Hand Towel</li>
                            <li>Hand Fan</li>
                            <li>Electrolyte / Glucose / Oral Rehydration</li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}