{% extends "website/base.html" %}
{% load static %}
{% block content %}
<section class="item content">

    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems"></h1>
            </div>

            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-200">
                <div class="productbox">

                    <div class="clearfix">
                    </div>
                    <br />
                    <div class="product-details text-left">
                        <p><strong>Nuclear and Radiological Emergency</strong></p>
                        <div class="text-align">

                            <p p style="text-align:justify">
                                The growth in the application of nuclear science and technology in the fields of
                                power generation, medicine, industry, agriculture, research and defence has led to
                                an increase in the risk of occurrence of Nuclear and Radiological emergencies.

                            </p>
                        </div>
                        <p>India has traditionally been vulnerable to natural disasters on account of its unique geo
                            climatic conditions and it has, of late, like all other countries in the world, become
                            equally vulnerable to various man-made disasters.
                        </p>
                        <p>Nuclear and Radiological Emergency can arise in a nuclear facility at plant level leading
                            to plant/ site or offsite emergency depending upon the extent of its impact on the
                            surroundings. It can also take place while using radiation sources, either at Hospitals,
                            Industries, Agriculture or Research Institutions due to loss or misplacement or due to
                            faulty handling. The other events that can lead to Nuclear or Radiological Emergency in
                            the public domain, include, accident of a vehicle carrying radioactive/nuclear material,
                            due of an orphan source i.e. the source which is not under regulatory control or due to
                            usage of radiation source/radioactive material in Malevolant activities.
                        </p>
                        <p>Any radiation incident resulting in or having a potential to result in exposure and/or
                            contamination of the workers or the public in excess of the respective permissible
                            limits can lead to a nuclear/radiological emergency.
                        </p>
                        <p>Sad memories of the use of nuclear weapons dropped on Hiroshima and Nagasaki, and the
                            wide publicity given to the reactor accidents at Three Mile Island (TMI) in USA and
                            Chernobyl in erstwhile USSR, have strongly influenced the public perception of any
                            nuclear or radiological emergency to be most often linked, erroneously though, to only
                            these events. However, one must be prepared to face nuclear/radiological emergencies of
                            lower magnitudes and ensure that the impact of such an emergency (which,for a given
                            magnitude, is likely to be much greater today because of higher population densities
                            coupled with an enhanced urban infrastructure due to economic prosperity) is always kept
                            under control. It may be noted that better infrastructure can be helpful during such
                            incidences in terms of enhance communication, transport and medical support. </p>
                        <p>For improving the quality of life in society, India has embarked upon a large programme
                            of using nuclear energy for generation of electricity. As on date, India has 20 power
                            reactors and three research reactors in operation along with five power reactors under
                            construction. It is also planned to explore setting up Thorium based reactors to meet
                            its ever increasing energy needs. The country is also at the verge of making operational
                            the first 500MW prototype Fast Breeder Reactor (PFBR) after a prolonged experience of
                            operation of FBTR (Fast Breeder Test Reactor). Further, the country utilises
                            adioisotopes in a variety of applications in the non-power sector, viz., in the field of
                            industry, agriculture, medicine, research, etc. Due to the inherent safety culture, the
                            best safety practices and standards followed in these applications and effective
                            regulation by the Atomic Energy Regulatory Board, the radiation dose to which the
                            persons working in nuclear/radiation facilities are exposed to, is well within the
                            permissible limits and the risk of its impact on the public domain is very low. </p>
                        <p>However, nuclear emergencies can still arise due to factors beyond the control of the
                            operating agencies; e.g., human error, system failure, sabotage, earthquake, cyclone,
                            flood, etc. Such failures, even though of very low probability, may lead to an on-site
                            or off-site emergency. To combat this, a number of system upgrades have been planned to
                            mitigate/prevent such emergencies. However, proper emergency preparedness plans must be
                            in place so that there is minimum avoidable loss of life, livelihood, property and
                            impact on the environment.
                        </p>

                        <p><strong>Preparedness at Nuclear Facilities</strong>
                        </p>
                        <p>The probability of a major accident at nuclear facilities leading to the release of large
                            quantities of radioactivity into the environment is always ensured to be negligibly
                            small. However, even in the event of a major release into the environment, the prompt
                            and effective implementation of countermeasures can reduce the radiological consequences
                            for the public and the environment.
                        </p>
                        <p><strong>Preparedness for Nuclear/Radiological Emergencies</strong></p>
                        <p>The handling of nuclear emergencies requires coordination among different service groups
                            of the nuclear facility. In the event of potential radiological consequences in the
                            public domain, all the authorities at the three levels, i.e., district, state and
                            central, will play a vital role and assist the offsite officials in effectively
                            responding to and keeping the public informed on the precautions to be taken.
                        </p>

                        <p><strong>Major Responsibilities of Nuclear Power Plant Operators</strong></p>
                        <p>This includes the arrangements required to promptly classify an emergency, mitigate the
                            emergency, notify and recommend protective actions off the site consistent with
                            international guidelines, protect those on site, obtain off-site assistance, conduct
                            environmental monitoring of the affected area and assist off-site officials in keeping
                            the public informed.
                        </p>
                        <p><strong>Major Responsibilities of Off-Site Officials</strong></p>
                        <p>This includes the arrangements required to promptly implement protective actions and
                            countermeasures in the affected area.
                        </p>

                        <p><strong>Emergency Preparedness for Nuclear Power Plants</strong></p>
                        <p>Since the proper implementation of countermeasures can significantly reduce the
                            consequences of an emergency situation, it is mandatory for all nuclear facilities that
                            there must be a comprehensive emergency preparedness plan. Prior to the issuance of a
                            license for the operation of a nuclear facility, the AERB ensures that the facility has
                            the Emergency Response Manuals for the three main types of emergencies, viz., plant,
                            on-site and off-site, and that the plans are in place to handle these types of
                            emergencies. The operators of nuclear facilities must make an assessment of the type and
                            quantum of release of radioactivity under various accident conditions and the extent to
                            which it can spread into the environment.</p>

                        <p><strong>Plant Emergency</strong></p>
                        <p>When the radiological consequences of an abnormal situation are expected to remain
                            confined to the plant boundary or a section of the plant, it is described as a plant
                            emergency. Nuclear facilities in the country already have the following provisions for
                            the detection, classification, notification and mitigation of any emergency situation:
                        </p>
                        <ul>
                            <li>Emergency operating procedures for the assessment of an emergency condition and its
                                mitigation.</li>
                            <li>Pre-identification of any facility-specific, abnormal situation for classification
                                of a plant and site emergency.</li>
                            <li>Facility-specific, approved nuclear emergency response plans specifying the jobs of
                                all the functionaries who have been assigned roles during the emergency.
                            </li>
                            <li>Alerting the plant personnel by sounding the emergency siren and making an emergency
                                announcement.
                            </li>
                            <li>Adequate means for communicating a notification to the emergency response
                                organisations at the facility, the district and state authorities, CMG of DAE and
                                the central government authorities.
                            </li>
                            <li>Identified assembly locations for plant personnel and casual visitors for their
                                accounting, and assessment of persons trapped in the radiological areas.
                            </li>
                            <li>Formation of rescue teams and activation of a treatment area and decontamination
                                centre.
                            </li>
                            <li>Radiation survey around the plant and outside the plant and site boundaries.
                            </li>
                            <li>Assessment of wind speed, wind direction and the affected sector around the nuclear
                                facility.
                            </li>
                            <li>Whenever required, the nuclear facility is able to mobilise the services of the
                                ambulance and paramedical staff at its site.
                            </li>
                            <li>Equipment and materials for handling a nuclear emergency are kept at a designated
                                place of the nuclear facility and ERC (Emergency Response Centre).
                            </li>
                        </ul>
                        <p><strong>On-Site Emergencies</strong></p>
                        <p>An accidental release of radioactivity or the potential of release of activity extending
                            beyond the plant, but confined to the site boundary, constitutes a site emergency
                            condition. In addition to all the provisions applicable in a plant emergency, the
                            following additional provisions are ensured:
                        </p>
                        <ul>
                            <li>Extensive radiological survey for an assessment of the radiological conditions
                                within the site boundary of the nuclear facility.
                            </li>
                            <li>Suitable prophylaxis to be made available at all assembly areas for administration
                                to plant personnel, in case the situation demands.
                            </li>
                            <li>Identification of temporary shelters within the facility/site for shifting plant
                                personnel, in case required.
                            </li>
                            <li>Provision of a fleet of vehicles for evacuation of plant personnel from the site to
                                a safer place.
                            </li>
                            <li>Provision of fixed and portable contamination monitors to check contaminated
                                personnel/vehicles leaving the site.
                            </li>
                            <li>On sensing the potential of release of radioactivity which can transgress into the
                                public domain, the concerned district authorities are alerted to be on standby for
                                emergency operations in the public domain.
                            </li>
                            <li>Radiological monitoring of the environment in the EPZ (16 km radius around the
                                plant).
                            </li>
                        </ul>

                        <p><strong>Off-Site Emergencies</strong></p>
                        <p>On recognising the potential for an uncontrolled release of radioactivity into the public
                            domain, the concerned district authorities are alerted to be on standby for emergency
                            response operations. In addition to all the provisions applicable in plant emergency and
                            site emergency, the following additional provisions are to be ensured for handling a
                            nuclear emergency in the public domain:

                        </p>
                        <ul>
                            <li>Pre-identification of plant conditions which can lead to an emergency in the public
                                domain.
                            </li>
                            <li>An assessment of the radiological status at the site boundary and in the public
                                domain.
                            </li>

                        </ul>
                        <p>For handling of an off-site emergency condition in an NPP, there is an off-site emergency
                            committee headed by the district magistrate of the concerned district and supported by
                            the district subcommittee, which include chiefs of all public service departments
                            relevant to emergency management in the district and also the Head of the Site Emergency
                            Committee of the nuclear facility for technical advice. This committee takes decisions
                            pertaining to the handling of a nuclear emergency outside the site boundary and ensures
                            implementation of countermeasures such as sheltering, prophylaxis and evacuation and
                            resettlement, including maintenance of law and order and civil amenities. All the
                            activities pertaining to the handling of an off-site emergency are guided and
                            coordinated from a pre-designated emergency response centre located outside the boundary
                            of the nuclear facility. The information and broadcasting department of the district, in
                            association with an authorised information officer, ensures the smooth flow of
                            information to the media to avoid panic and spreading of rumours.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}