{% extends "website/base.html" %}
{% load static %}
{% block content %}
<section class="item content">

    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems"></h1>
            </div>

            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-200">
                <div class="productbox">

                    <div class="clearfix">
                    </div>
                    <br />
                    <div class="product-details text-left">
                        <p><strong>Tsunami</strong></p>
                        <div class="text-align">

                            <p p style="text-align:justify">
                                The tsunami that occurred during 2004 Sumatra-Andaman earthquake of Mw 9.3 was
                                primarily caused by vertical displacement of the seafloor, in response to slip on
                                the inter-plate thrust fault. The earthquake and resulting tsunami in the Indian
                                Ocean affected many countries in Southeast Asia and beyond, including Indonesia, Sri
                                Lanka, India, Thailand, the Maldives, Somalia, Myanmar, Malaysia, Seychelles and
                                others. Many other countries, especially Australia and those in Europe incurred
                                casualties due to the tsunami, because they had large numbers of citizens traveling
                                in the region on holiday. This tsunami-genic earthquake was one of the ten worst
                                earthquakes in recorded history, as well as the single worst tsunami in history.
                                Indonesia was the worst affected country. Beyond the heavy toll on human lives, the
                                Indian Ocean earthquake has caused an enormous environmental impact that will affect
                                the region for many years to come. The disaster also caused a substantial
                                geo-physical impact in Indian Ocean. The disaster invited attention of affected
                                countries for setting up effective tsunami early warning system and institutional
                                mechanism for handling disasters.
                            </p>
                        </div>
                        <p>
                            The tsunami that occurred during 2004 Sumatra-Andaman earthquake of Mw 9.3 was primarily
                            caused by vertical displacement of the seafloor, in response to slip on the inter-plate
                            thrust fault. The earthquake and resulting tsunami in the Indian Ocean affected many
                            countries in Southeast Asia and beyond, including Indonesia, Sri Lanka, India, Thailand,
                            the Maldives, Somalia, Myanmar, Malaysia, Seychelles and others. Many other countries,
                            especially Australia and those in Europe incurred casualties due to the tsunami, because
                            they had large numbers of citizens traveling in the region on holiday. This
                            tsunami-genic earthquake was one of the ten worst earthquakes in recorded history, as
                            well as the single worst tsunami in history. Indonesia was the worst affected country.
                            Beyond the heavy toll on human lives, the Indian Ocean earthquake has caused an enormous
                            environmental impact that will affect the region for many years to come. The disaster
                            also caused a substantial geo-physical impact in Indian Ocean. The disaster invited
                            attention of affected countries for setting up effective tsunami early warning system
                            and institutional mechanism for handling disasters.
                        </p>
                        <p>The Government of India has put in place an Early Warning System for mitigation of such
                            oceanogenic disasters under the control of Indian National Center for Ocean Information
                            Services (INCOIS), Hyderabad. A state-of-the-art early warning centre was established
                            with the necessary computational and communication infrastructure that enables reception
                            of real-time data from sensors, analysis of the data, generation and dissemination of
                            tsunami advisories following a standard operating procedure. Seismic and sea-level data
                            are continuously monitored in the Early Warning Centre using custom-built software
                            application that generates alarms/alerts in the warning centre whenever a pre-set
                            threshold is crossed. Tsunami warnings/watches are then generated based on pre-set
                            decision support rules and disseminated to the concerned authorities for action, as per
                            pre-decided standard operating procedure. The efficiency of this end-to-end system was
                            proved during the large under-sea earthquake of 8.4 M that occurred on September 12,
                            2007 in the Indian Ocean.</p>
                        <br>
                        <p><strong>The 2004 tsunami also prompted NDMA to formulate Tsunami Risk Management
                                Guidelines to outline inter-agency roles and responsibilities, tsunami risk
                                preparedness, mitigation and response.
                            </strong>
                        </p>
                        <p>The Guidelines recommends practical and effective ways for awareness generation, capacity
                            building, education, training and research & development for better tsunami risk
                            management. The Guidelines explore options for effective dissemination of tsunami alert
                            and warning messages generated by INCOIS to the concerned agencies and coastal
                            vulnerable communities exposed to tsunamis in a coordinated manner.</p>

                        <p>Structural Mitigation measures, as envisaged in the Guidelines, gives a brief guidance on
                            design and construction of new structures as well as strategies for protecting lifeline
                            and priority structures from Tsunamis along the seafront. The Guidelines urge BIS to
                            roll out the pending construction standards entitled ‘Criteria for Tsunami-Resistant
                            Design of Structures’. It further recommends a robust techno-legal regime through
                            efficient land use practices, bioshields, shelter belt plantation and mangrove
                            regeneration with community involvement. A strong mechanism has been recommended for
                            effective emergency response by involving local police network, civil defence volunteers
                            wherever available, home guards, State Disaster Response Forces and National Disaster
                            Response Force. Further, the Guidelines explore the provisions of Disaster Management
                            Act 2005 to mainstream concern of Tsunami risk management in disaster management plans
                            of various levels.
                        </p>
                        <img alt="" src="images/tsunami.png">

                        <h2>
                            <strongh>Recover and build</strong>
                        </h2>




                        <p><strong>After ‘All Clear’ is issued for back movement by ‘State’ give attention to the
                                following:</strong>
                        </p>
                        <ul>
                            <li>You should continue using a Weather Radio or staying tuned to a Coast Guard
                                emergency frequency station or a local radio or television station for updated
                                emergency information.</li>
                            <li>Check yourself for injuries and get first aid if necessary before helping injured or
                                trapped persons.</li>
                            <li>If someone needs to be rescued, call professionals with the right equipment to help
                                Many people have been killed or injured trying to rescue others in flooded areas.
                            </li>
                            <li>Help people who require special assistance—Infants, elderly people, those without
                                transportation, large families who may need additional help in an emergency
                                situation, people with disabilities, and the people who care for them.</li>
                            <li>Avoid disaster areas. Your presence might hamper rescue and other emergency
                                operations and put you at further risk from the residual effects of floods, such as
                                contaminated water, crumbled roads, landslides, mudflows, and other hazards.</li>
                            <li>Use the telephone only for emergency calls.Telephone lines are frequently
                                overwhelmed in disaster situations. They need to be clear for emergency calls to get
                                through.
                                Stay out of a building if water remains around it. Tsunami water, like floodwater,
                                can undermine foundations, causing buildings to sink, floors to crack, or walls to
                                collapse.</li>
                            <li>When re-entering buildings or homes, use extreme caution. Tsunami-driven floodwater
                                may have damaged buildings where you least expect it. Carefully watch every step you
                                take.</li>
                            <li>Wear long pants, a long-sleeved shirt, and sturdy shoes. The most common injury
                                following a disaster is cut feet.</li>
                            <li>Use battery-powered lanterns or flashlights when examining buildings.
                                Battery-powered lighting is the safest and easiest to use, and it does not present a
                                fire hazard for the user, occupants, or building. DO NOT USE CANDLES.</li>
                            <li>Examine walls, floors, doors, staircases, and windows to make sure that the building
                                is not in danger of collapsing.</li>
                            <li>Inspect foundations for cracks or other damage. Cracks and damage to a foundation
                                can render a building uninhabitable.</li>
                            <li>Look for fire hazards. Under the earthquake action there may be broken or leaking
                                gas lines, and under the tsunami flooded electrical circuits, or submerged furnaces
                                or electrical appliances. Flammable or explosive materials may have come from
                                upstream. Fire is the most frequent hazard following floods.</li>
                            <li>Check for gas leaks. If you smell gas or hear a blowing or hissing noise, open a
                                window and get everyone outside quickly. Turn off the gas using the outside main
                                valve if you can, and call the gas company from a neighbour’s home. If you turn off
                                the gas for any reason, it must be turned back on by a professional.</li>
                            <li>Look for electrical system damage. If you see sparks or broken or frayed wires, or
                                if you smell burning insulation, turn off the electricity at the main fuse box or
                                circuit breaker. If you have to step in water to get to the fuse box or circuit
                                breaker, call an electrician first for advice. Electrical equipment should be
                                checked and dried before being returned to service</li>
                            <li>Check for damage to sewage and water lines.If you suspect sewage lines are damaged
                                under the quake, avoid using the toilets and call a plumber. If water pipes are
                                damaged, contact the water company and avoid using water from the tap. You can
                                obtain safe water from undamaged water heaters or by melting ice cubes that were
                                made before the tsunami hit. Turn off the main water valve before draining water
                                from these sources. Use tap water only if local health officials advise it is
                                safe.</li>
                            <li>Watch out for wild animals, especially poisonous snakes that may have come into
                                buildings with the water. Use a stick to poke through debris. Tsunami floodwater
                                flushes snakes and animals out of their homes.</li>
                            <li>Watch for loose plaster, drywall, and ceilings that could fall.</li>
                            <li>Take pictures of the damage, both of the building and its contents, for insurance
                                claims. Open the windows and doors to help dry the building.</li>
                            <li>Shovel mud before it solidifies.</li>
                            <li>Check food supplies.Any food that has come in contact with floodwater may be
                                contaminated and should be thrown out.</li>
                            <li>Expect aftershocks. If the earthquake is of large magnitude (magnitude 8 to 9+ on
                                the Richter scale) and located nearby, some aftershocks could be as large as
                                magnitude 7+ and capable of generating another tsunami. The number of aftershocks
                                will decrease over the course of several days, weeks, or months depending on how
                                large the main shock was.</li>
                            <li>Watch your animals closely.</li>
                            <li>Keep all your animals under your direct control.</li>
                        </ul>




                        <!--<img src="images/product2-2.jpg" alt=""> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}