{% extends "website/base.html" %}
{% load static %}
{% block content %}
<section class="item content">

    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems"></h1>
            </div>

            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-200">
                <div class="productbox">

                    <div class="clearfix">
                    </div>
                    <br />
                    <div class="product-details text-left">
                        <p><strong>Urban Floods</strong></p>
                        <div class="text-align">


                            <p p style="text-align:justify">
                                Urban flooding is significantly different from rural flooding as urbanization leads
                                to developed catchments, which increases the flood peaks from 1.8 to 8 times and
                                flood volumes by up to 6 times. Consequently, flooding occurs very quickly due to
                                faster flow times (in a matter of minutes). Urban areas are densely populated and
                                people living in vulnerable areas suffer due to flooding, sometimes resulting in
                                loss of life. It is not only the event of flooding but the secondary effect of
                                exposure to infection also has its toll in terms of human suffering, loss of
                                livelihood and, in extreme cases, loss of life.

                            </p>
                        </div>
                        <p>
                            Urban areas are also centres of economic activities with vital infrastructure which
                            needs to be protected 24x7. In most of the cities, damage to vital infrastructure has a
                            bearing not only for the state and the country but it could even have global
                            implications. Major cities in India have witnessed loss of life and property, disruption
                            in transport and power and incidence of epidemics. Therefore, management of urban
                            flooding has to be accorded top priority.
                        </p>
                        <p>Increasing trend of urban flooding is a universal phenomenon and poses a great challenge
                            to urban planners the world over. Problems associated with urban floods range from
                            relatively localized incidents to major incidents, resulting in cities being inundated
                            from hours to several days. Therefore, the impact can also be widespread, including
                            temporary relocation of people, damage to civic amenities, deterioration of water
                            quality and risk of epidemics.</p>
                        <p><strong>What to Do After Floods</strong></p>

                        <ul>
                            <li>Drink chlorinated or boiled water.</li>
                            <li>Take clean and safe food</li>
                            <li>Sprinkle insecticides in the water ponds/ stagnant water.</li>
                            <li>Please cooperate with disaster survey team by giving correct information.</li>
                        </ul>

                        <p><strong>Emergency Kit</strong></p>

                        <p>Prepare a safety kit which should include a torch, sheets/ blankets, waterproof clothing,
                            battery-operated radio, bottled water, first-aid kit, medication, personal valuables and
                            personal documentation.</p>
                        <br>
                        <p><strong>Guidelines</strong></p>

                        <p>As a part of its mandate, the National Disaster Management Authority (NDMA) has made
                            efforts to prepare the National Guidelines on Management of Urban Flooding. Even though
                            urban flooding has been experienced over decades in India but sufficient attention was
                            not given to plan specific efforts to deal with it. In the past, any strategy on flood
                            disaster management largely focused on riverine floods affecting large extents of rural
                            areas. Mumbai floods of July 2005 turned out to be an eye-opener. Realizing that the
                            causes of urban flooding are different and so also are the strategies to deal with them,
                            NDMA has for the first time decided to address urban flooding as a separate disaster,
                            delinking it from floods.</p>



                        <p><strong>URBAN FLOOD RISK IN INDIA </strong></p>
                        <p><strong>If you think someone is suffering from the heat::</strong>
                        </p>
                        <p>There has been an increasing trend of urban flood disasters in India over the past
                            several years whereby major cities in India have been severely affected. The most
                            notable amongst them are Hyderabad in 2000, Ahmedabad in 2001, Delhi in 2002 and 2003,
                            Chennai in 2004, Mumbai in 2005, Surat in 2006, Kolkata in 2007, Jamshedpur in 2008,
                            Delhi in 2009 and Guwahati and Delhi in 2010.

                        </p>

                        <p>
                            A special feature in India is that we have heavy rainfall during monsoons. There are
                            other weather systems also that bring in a lot of rain. Storm surges can also affect
                            coastal cities/ towns. Sudden release or failure to release water from dams can also
                            have severe impact. In addition, the urban heat island effect has resulted in an
                            increase in rainfall over urban areas. Global climate change is resulting in changed
                            weather patterns and increased episodes of high intensity rainfall events occurring in
                            shorter periods of time. Then the threat of sea-level rise is also looming large,
                            threatening all the coastal cities. Cities/towns located on the coast, on river banks,
                            upstream/ downstream of dams, inland cities and in hilly areas can all be affected.
                        </p>

                        <p><strong>ISSUES IN URBAN FLOODING</strong></p>

                        <p>Among the important cities of India, the average annual rainfall varies from 2932 mm in
                            Goa and 2401 mm in Mumbai on the higher side, to 669 mm in Jaipur on the lower side. The
                            rainfall pattern and temporal duration is almost similar in all these cities, which
                            receive the maximum rainfall from the south-west monsoons. The average rainfall for the
                            month of July in Mumbai is 868 mm and this far exceeds the annual average rainfall of
                            611 mm in London.
                        </p>
                        <p>Stormwater drainage systems in the past were designed for rainfall intensity of 12 – 20
                            mm. These capacities have been getting very easily overwhelmed whenever rainfall of
                            higher intensity has been experienced. Further, the systems very often do not work to
                            the designed capacities because of very poor maintenance. Encroachments are also a major
                            problem in many cities and towns. Natural streams and watercourses have formed over
                            thousands of years due to the forces of flowing water in the respective watersheds.
                            Habitations started growing into towns and cities alongside rivers and watercourses. As
                            a result of this, the flow of water has increased in proportion to the urbanization of
                            the watersheds. Ideally, the natural drains should have been widened (similar to road
                            widening for increased traffic) to accommodate the higher flows of stormwater. But on
                            the contrary, there have been large scale encroachments on the natural drains and the
                            river flood plains. Consequently the capacity of the natural drains has decreased,
                            resulting in flooding. Improper disposal of solid waste, including domestic, commercial
                            and industrial waste and dumping of construction debris into the drains also contributes
                            significantly to reducing their capacities. It is imperative to take better operations
                            and maintenance actions.
                        </p>



                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}